<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://use.typekit.net/pqe2bop.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>Document</title>
  </head>
  <body>
    <form
      action="/profile/create"
      method="POST"
      enctype="multipart/form-data"
      class="basic-info"
    >
      <section class="naw">
        <h3>Wie ben je?</h3>
        <ul>
          <li>
            <label for="name">Naam</label>
            <input
              type="text"
              name="name"
              id="name"
              required="true"
              placeholder="Bv: 'Jan'"
            />
          </li>
          <li>
            <label for="birthdate">Geboortedatum</label>
            <input
              type="date"
              name="birthdate"
              id="birthdate"
              required="true"
            />
          </li>
          <li>
            <label for="email">Email</label>
            <input
              type="email"
              name="email"
              id="email"
              required="true"
              placeholder="example@example.com"
            />
          </li>
        </ul>
      </section>
      <section class="hobbies">
        <h3>Wat zijn je hobby's?</h3>
        <fieldset>
          <legend>Vink aan wat je leuk vindt</legend>
          <ul>
            <li>
              <input
                type="checkbox"
                name="hobbies"
                id="checkboxOne"
                value="sport"
              />
              <label for="checkboxOne">Sport</label>
            </li>
            <li>
              <input
                type="checkbox"
                name="hobbies"
                id="checkboxTwo"
                value="reizen"
              />
              <label for="checkboxTwo">Reizen</label>
            </li>
            <li>
              <input
                type="checkbox"
                name="hobbies"
                id="checkboxThree"
                value="gamen"
              />
              <label for="checkboxThree">Gamen</label>
            </li>
            <li>
              <input
                type="checkbox"
                name="hobbies"
                id="checkboxFour"
                value="koken"
              />
              <label for="checkboxFour">Koken</label>
            </li>
          </ul>
        </fieldset>
      </section>
      <section class="bio">
        <h3>Vertel iets over jezelf</h3>
        <label for="bio">Wie ben jij in het kort?</label>
        <textarea
          type="text"
          name="bio"
          placeholder="Hier typen"
          id="bio"
        ></textarea>
      </section>
      <section class="upload">
        <h3>Laat jezelf zien</h3>
        <label for="upload">Zoek je mooiste foto's uit</label>
        <input
          type="file"
          name="upload"
          id="upload"
          placeholder="Kies bestand"
          accept="image/png, image/jpeg, image/gif"
          required="false"
        />
        <button>submit</button>
      </section>
    </form>
    <script src="/js/create.js"></script>
  </body>
</html>
