<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hey en welkom!</h1>
    <h3>Wie ben je?</h3>
    <form action="/who" method="POST" class="basic-info">
      <ul>
        <li>
          <label for="name">name</label>
          <input type="text" name="name" id="name" />
        </li>
        <li>
          <label for="birthdate">birthdate</label>
          <input type="date" name="birthdate" id="birthdate" />
        </li>
        <li>
          <label for="email">Email</label>
          <input type="email" name="email" id="email" />
        </li>
        <input type="submit" />
      </ul>
    </form>
    <h3>Wat zijn je hobby's?</h3>
    <form action="/profile" method="POST" class="hobbies">
      <ul>
        <li>
          <input type="checkbox" name="sport" id="checkboxOne" />
          <label for="checkboxOne">Sport</label>
        </li>
        <li>
          <input type="checkbox" name="reizen" id="checkboxTwo" />
          <label for="checkboxTwo">Reizen</label>
        </li>
        <li>
          <input type="checkbox" name="gamen" id="checkboxThree" />
          <label for="checkboxThree">Gamen</label>
        </li>
        <li>
          <input type="checkbox" name="koken" id="checkboxFour" />
          <label for="checkboxFour">Koken</label>
        </li>
      </ul>
      <button>submit</button>
    </form>
    <h3>Vertel iets over jezelf</h3>
    <form action="/profile" method="POST" class="biography">
      <label for="bio">Wie ben jij in het kort?</label>
      <input type="text" name="bio" placeholder="Hier typen" id="bio" />
      <input type="submit" />
    </form>
    <h3>Laat jezelf zien</h3>
    <form
      action="/upload"
      method="POST"
      class="upload"
      enctype="multipart/form-data"
    >
      <label for="upload">Zoek je mooiste foto's uit</label>
      <input
        type="file"
        name="upload"
        id="upload"
        placeholder="Kies bestand"
        accept="image/png, image/jpeg, image/gif"
      />
      <button>submit</button>
    </form>
    <script src="app.js"></script>
  </body>
</html>
