<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hey! Welkom <%= name %>!</h1>
    <h2>Geef hier je hobbies/interesses op:</h2>
    <ul>
      <% hobbies.forEach((hobby) => {%>
      <li>
        <input type="checkbox" id="checkboxId" /><label for="checkboxId"
          ><%=hobby %></label
        >
      </li>
      <%})%>
    </ul>
  </body>
</html>
