* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

h1,
h2,
h3,
h4 {
  color: #00adb5;
  font-size: 4em;
}

section {
  height: 100vh;
  width: 100%;
  background: #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul {
  list-style: none;
}

.naw ul {
  list-style: none;
  width: 30%;
}

.naw li {
  position: relative;
}

.naw li:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ff5722;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.naw li:hover:after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.naw li:focus-within:after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.naw label {
  color: #00adb5;
  font-size: 1em;
  text-transform: capitalize;
}

.naw input {
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 100%;
  padding: 1em;
  font-size: 1em;
  font-weight: 300;
  background: #eeeeee;
}

.naw input:hover {
  background-color: #cfcfcf;
}

.naw input:focus {
  outline: none;
}

.naw input:valid {
  border: 1px solid #00adb5;
}

.hobbies fieldset {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
}

.hobbies legend {
  margin: 2em auto;
  color: #00adb5;
  display: block;
}

.hobbies ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hobbies li {
  margin: 0.5em;
  padding: 0.5em;
  position: relative;
}

.hobbies label {
  background: #eeeeee;
  border: 1px solid #00adb5;
  color: #ff5722;
  display: inline-block;
  padding: 0em 1em;
  min-width: 5em;
  border-radius: 1em;
  cursor: pointer;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.hobbies input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

.hobbies input[type="checkbox"]:hover ~ label,
.hobbies input[type="checkbox"]:focus ~ label {
  border: 1px solid #ff5722;
  background: #eeeeee;
  -webkit-box-shadow: 0px 0px 0px 1px #ff5722 inset;
          box-shadow: 0px 0px 0px 1px #ff5722 inset;
}

.hobbies input[type="checkbox"]:checked ~ label {
  background: #00adb5;
  color: white;
}

.bio label {
  color: #00adb5;
  margin: 1em;
}

.bio textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  width: 40em;
  height: 10em;
  background: #eeeeee;
  padding: 1em;
  resize: none;
  color: #00adb5;
  border-bottom: 2px solid #00adb5;
}

.bio textarea::-webkit-input-placeholder {
  text-align: center;
}

.bio textarea:-ms-input-placeholder {
  text-align: center;
}

.bio textarea::-ms-input-placeholder {
  text-align: center;
}

.bio textarea::placeholder {
  text-align: center;
}

.bio textarea:focus {
  outline: none;
}

.bio textarea:hover {
  background-color: #dbdbdb;
}

.upload {
  position: relative;
}

.upload label {
  color: #00adb5;
  margin: 1em;
  text-align: center;
}

.upload input {
  text-align: center;
}

.upload input::-webkit-file-upload-button {
  -webkit-appearance: none;
          appearance: none;
  border: none;
  background: #00adb5;
  color: white;
  padding: 1em;
}

.upload button {
  position: absolute;
  bottom: 10em;
  padding: 1em 3em;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: #00adb5;
  color: white;
  font-size: 1em;
  cursor: pointer;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.upload button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border: none;
}
/*# sourceMappingURL=main.css.map */